@page "/"

<PageTitle>Currículo | Dev .NET</PageTitle>

<div class="container py-4">
    <div class="row">
        <div class="col-lg-4">
            <div class="text-center p-4 bg-light rounded-3 mb-4">
                <img src="https://api.dicebear.com/7.x/avataaars/svg?seed=Felix" class="rounded-circle mb-3"
                     width="120" />
                <h3>Fernando Almeida</h3>
                <p class="text-muted">Desenvolvedor Fullstack</p>
            </div>
        </div>

        <div class="col-lg-8">
            <h2 class="mb-4">Experiência Profissional</h2>
            
            @foreach (var exp in MinhasExperiencias)
            {
                <ExperienciaCard Dados="exp" />
            }
        </div>
    </div>
</div>

@code {
    private List<Experiencia> MinhasExperiencias = new()
    {
        new Experiencia {
            Empresa = "una barreiro ",
            Cargo = "Dev Júnior",
            Inicio = "2025",
            Descricao = "Atuação no desenvolvimento de interfaces com Blazor e APIs C#."
        },
        new Experiencia {
            Empresa = "Iniciativa Pessoal",
            Cargo = "Freelancer",
            Inicio = "2025",
            Fim = "2026",
            Descricao = "Criação de sites institucionais e manutenção de sistemas."
        }
    };
}